<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.basicweatherapp">

    <!-- 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Basicweatherapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- 메인 액티비티 (시작점) -->
        <activity
            android:name=".NetworkCheckActivity"
            android:theme="@style/Theme.Basicweatherapp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 네트워크 체크 액티비티 -->
        <activity
            android:name=".DetailWindow"
            android:exported="true" />

        <!-- 기타 액티비티들 -->
        <activity
            android:name=".WeatherWeekActivity"
            android:exported="true" />
        <activity
            android:name=".BannerActivity"
            android:exported="true" />
        <activity
            android:name=".YoutubeActivity"
            android:exported="true" />

    </application>
</manifest>
